
*.pyc
__pycache__/graphics.cpython-38.pyc
__pycache__/graphics.cpython-37.pyc
__pycache__/graphics.cpython-36.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Graphics.iml
.idea/dictionaries/Eden.xml
__pycache__/graphics.cpython-36.pyc
__pycache__/graphics.cpython-37.pyc
__pycache__/graphics.cpython-38.pyc
__pycache__/graphics.cpython-36.pyc
__pycache__/graphics.cpython-37.pyc
__pycache__/graphics.cpython-38.pyc
__pycache__/graphics.cpython-36.pyc
__pycache__/graphics.cpython-37.pyc
__pycache__/graphics.cpython-38.pyc
